* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(216, 210, 210);
}

.card {
    background-color: white;
    margin: 25%;
    width: 300px;
    height: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-around; */

}
.close {
    width: 8%;
    align-self: flex-end;
    margin: 4%;
    /* margin-bottom: auto; */
}
    
.profile {
    width: 50%;
    border-radius: 50%;
    margin-top: 20%;
    align-self: center;
}

h1 {
    padding: 20px;
    text-align: center;
}
p {
    text-align: center;
    color: rgb(160, 153, 153);
}

a {
    background-color: rgb(51, 50, 50);
    border-radius: 40px;
    padding: 25px;
    margin: 20% 10% 10%;
    text-decoration: none;
    color: white;
    text-align: center;
}