:root {
    --hex: #ff000040; 
    --rgb: rgb(0, 255, 0, 0.5);
    --hsl: hsl(190, 100%, 50%, 0.5);
}

body {
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading{
    background: linear-gradient(to left, pink, purple);
}
p {
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
    color:blanchedalmond;

}
ul li {
    font-size: 20px;
    color:blanchedalmond;
}
ol li {
    font-size: 20px;
    color:blanchedalmond;
}

.box1 {
    background-color: var(--hex);
    color:grey;
    width: 50% ;
    font: oblique normal bold 30px grey;
    text-align: center;
    border: 5px solid grey;
    padding: 10px;
    margin: 30px;
}
.box2 {
    background-color: var(--rgb);
    color:grey;
    width: 50% ;
    font: oblique normal bold 30px grey;
    text-align: center;
    border: 5px solid grey;
    padding: 10px;
    margin: 30px;
}
.box3 {
    background-color: var(--hsl);
    color:grey;
    width: 50% ;
    font: oblique normal bold 30px grey;
    text-align: center;
    border: 5px solid grey;
    padding: 10px;
    margin: 30px;
}